body {
background: -moz-radial-gradient(center, ellipse cover,  rgba(63,76,107,0.04) 0%, rgba(63,76,107,0.04) 1%, rgba(63,76,107,0.1) 99%, rgba(63,76,107,0.1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(63,76,107,0.04)), color-stop(1%,rgba(63,76,107,0.04)), color-stop(99%,rgba(63,76,107,0.1)), color-stop(100%,rgba(63,76,107,0.1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(63,76,107,0.04) 0%,rgba(63,76,107,0.04) 1%,rgba(63,76,107,0.1) 99%,rgba(63,76,107,0.1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(63,76,107,0.04) 0%,rgba(63,76,107,0.04) 1%,rgba(63,76,107,0.1) 99%,rgba(63,76,107,0.1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(63,76,107,0.04) 0%,rgba(63,76,107,0.04) 1%,rgba(63,76,107,0.1) 99%,rgba(63,76,107,0.1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(63,76,107,0.04) 0%,rgba(63,76,107,0.04) 1%,rgba(63,76,107,0.1) 99%,rgba(63,76,107,0.1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3f4c6b', endColorstr='#1a3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
/* Navigation */
nav{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  height: auto;
  min-width: 10px;
  width: 10px;
  z-index: 3;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
  background-color:rgba(45,45,45,0.1);
}

nav:hover{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: 150px;
  background-color: #9ED29E;
}

nav a{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity:0;
  margin-left: 0em;
}

nav:hover a{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity:1;
}

li{
	display: block;
	padding-top: 0.2em;
	height: 2.5em;
	margin-left: 0;
	text-align: left;
}

svg, a{
  display: inline-block;
}


a{
  text-transform: uppercase;
  text-decoration: none;
  color: #151515;
  transition-delay: 0s;
  transition-duration: 0.36s;
  transition-property: all;
  transition-timing-function: line;
}

nav a:hover{
  font-weight: 400;
}

nav, nav:hover{
    padding: 1em;
}

nav a{
  text-indent: -200px;
}

nav:hover a{
  text-indent:0px;
  color: #EEFFE5;
}

svg, a{
  vertical-align: top;
}
/* End Navigation */