
/* Main Content */
#main-wrapper { width: 85%; margin: 0 auto;}

.wrapper { height: 375px; text-align: center; font-weight: bold; padding: 150px 0 0 0;} /* Height of nav bar added to total height: 300 */

h2, h3, h4, h5, h6,p {
  font-family: helvetica;
}

h1, h2, h3 {
  margin-bottom: 3rem;
  font-weight: 400;
}

h1{
 	color: #FFF;           
	font-family: 'Russo One', sans-serif;
	font-size: 7em;
	text-align:center;
 	line-height: 1.4;	
  }

h2 {
	text-align:center;
 	font-size: 1.8em;
  	padding: 1em 0;
  	line-height: 1.2;
}

h3 {
  font-size: 1.5em;
  padding: 1em 0;
  line-height: 1.2;
}

h4 {
  font-size: 1.2em;
  padding: 1em;
  line-height: 1.2;
}
h5 {
	font-size:0.8em;
	margin:0;
	padding: 1em 0;
	line-height:1.2;
}

p{
	font-size: 1em;
}



/* containers*/
.container .inner-w {
  padding: 1rem;
  zoom: 1;
}

.container{
  position: relative;
    width: 100%;
  float: left;
}


.container {
  padding: 0.5rem;
  border: 1px solid #23edff;
  margin-bottom: 1em;
}
.container:last-of-type {
  margin-bottom: 0;
}

.inner-w {
  width: 100%;
  /*float: none;*/
  margin-right: auto;
  margin-left: auto;
  margin-bottom:auto;
  max-width: 56em;
  padding: 0.5rem;
  text-align: center;
  height:auto;
}
.column {
  position: relative;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 1em;
  text-align: left;
  float:left;
}

@media (min-width: 40em) {
  .column {
    margin-bottom: 1 em;
  }
}
@media only screen and (min-width: 30em) {
  .column-a {
	  left:5%;
    width: 20%;
    float: left;
	
  }
}

@media only screen and (min-width: 30em) {
  .column-b {
    width: 70%;
    float: right;
  }
}

/* container */

/* img */
.ribbon {
	/*width: 460px;*/
	height: 400px;	

	/*height: 230px;*/
	overflow: hidden;
	position: relative;
}

.ribbon-photo img{
	height:100%;
	width:100%;
	-webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
    filter: blur(13px);
}

.ribbon:hover img {
	/*opacity: 0.4 !important;*/
}

.ribbon .ribbon-hover-text h3 {
	padding: 0px;
	margin: 0px;
	font-size: 25px;
  font-weight:300;
	font-family: "Open Sans";
}

.ribbon .ribbon-hover-text h4 {
	padding: 0px;
	padding-bottom: 13px;
	margin: 0px;
	font-size: 14px;
  letter-spacing: 3px;
	width: 90%;
	font-family: "Open Sans";
  text-transform:uppercase;
	border-bottom: 2px solid #000;
}

.ribbon .ribbon-hover-text p {
	padding-top: 13px;
	font-size: 14px;
	line-height: 20px;
	font-family: "Open Sans";
}


.ribbon .ribbon-hover-text{
	width: 35%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 65%;
	padding: 3% 4%;
	background: #D90E0E;
	color: rgba(255,255,255,1);
/*	display: none;*/
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.4s;
}

.ribbon:hover .ribbon-hover-text {
	width : 80%;
	height: 100%;
	display: block !important;
	color: rgba(255,255,255,1);
	background:rgba(217,14,14,0.60);
	left: 0px;
	top: 0px;
}


.ribbon .ribbon-text {
	width: 50%;
	height: inherit;
	background: #000;
	float: right;
	position: absolute;
	left: 80%;
}

.ribbon .ribbon-text p {
	padding:100px 0px 0px 20px;
	font-size: 24px;
	font-family: "Open Sans";
  font-weight:700;
	color: #fff;
}

.ribbon .ribbon-text p span {
	font-family: "Open Sans" !important;
}

.ribbon .ribbon-text a , .profile-image .ribbon-text {
	padding: 0px 0px 0px 20px;
	font-size: 14px !important;
	font-family: "Open Sans" !important;
	text-decoration: none !important; 
}

.ribbon .ribbon-text {
	float: right;
} 

.profile-image {
	background: #333;
	width: 20% !important;
	height: 100% !important;
}

.profile-image p {
	color: #000 !important;
}

.block{
	marign-left:auto;
	margin-right:auto;
}
/*end of img*/
#profilepic {
	display: block; margin: 20px auto; background: #fff; border-radius: 10px; padding: 15px
}
#ribbonpic {
	display: block; margin: 20px auto; background: #fff; border-radius: 10px; padding: 15px
}

.progress { position:relative; width:150px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #9ed29e; width:0%; height:15px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:0px; left:48%;}

#pimage {
	height:150px ;
	width :150px ;
}

#rimage {
	height:150px ;
	width :900px ;
}

#ribbonpic {
	height:150px ;
	width :150px ;
}

/* USER BLOG STYLES */
#main-body {
  background: white;
  width: 503px;
  margin: 10px auto 0;
  border-radius: 5px;
}
#main-body .reports ul:last-of-type {
  border-bottom: 0;
}
#main-body .reports ul {
  list-style: none;
  padding: 5px 10px;
  border-bottom: solid 1px #aaaaaa;
}
#main-body .reports ul .text {
  float: left;
  margin-top: 5px;
  line-height: 17px;
  font-size: 0.9em;
  width: 75%;
  padding: 0 0 0 10px;
}
#main-body .reports ul .time {
	font-size: 0.7em;
	margin-top: 5px;
}

#albumbutton {
  display: block;
  font-size: 22px;
  text-align: center;
  line-height: 44px;
  text-decoration: none;
  color: white;
  background-color: #cc4331;
  border-radius: 4px;
  width: 200px;
  text-shadow: 0 -1px -1px #af3a2a;
  -moz-box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#albumbutton:hover {
  background-color: #d25544;
  text-shadow: 0 -1px -1px #c4402f;
  -moz-box-shadow: 0 4px 0 #c4402f, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 0 #c4402f, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 0 #c4402f, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}
#albumbutton:active {
  margin-top: -18px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

